<div style="position: fixed; width: 100%; height: 100%;"><!-- Atast -->
<div style="display: flex; justify-content: center; align-items: center;">
<!-- Tanda panah Kiri -->
<div><a href="https://bonekajelek.com/pages/step-2"><img style="transform: scale(-1);max-height: 100px;aspect-ratio: 1/1;" src="https://cdn.shopify.com/s/files/1/0898/3314/4614/files/Untitled_Artwork_12.png?v=1725868206"></a></div>
<!-- Gambar Utama -->
<div><img src="https://cdn.shopify.com/s/files/1/0898/3314/4614/files/step_3.png?v=1725868975"></div>
<!-- Tanda panah Kanan-->
<div><a href="https://bonekajelek.com/pages/step-4"><img style="max-height: 100px;aspect-ratio: 1/1;" src="https://cdn.shopify.com/s/files/1/0898/3314/4614/files/Untitled_Artwork_12.png?v=1725868206"></a></div>
</div>
<!-- Bawah -->
<div style="display: flex; justify-content: center;">Ini deskripsi tulisan</div>
</div>